<div class="discount">

  <div class="discount_1">
  this is discount_1
  </div>

  <div class="discount_2">
  this is discount_2
  </div>

  <div class="service_fee">
  this is service_fee
  </div>

</div>

<div class="pay">
  <div class="row">
    <div class="col">
      <h5>Thành tiền:</h5> 
    </div>

    <div class="col">
      <h6><%= @cart&.subtotal%> <%= I18n.t('money') %></h6>
    </div>
  </div>

</div>