<div class='product'>
<%= render partial: 'shared/product/partials/item_name', locals: { product: product } %>
<%= render partial: 'shared/product/partials/item_image', locals: { image: product.image } %>
<%= render partial: 'shared/product/partials/item_info', locals: { product: product } %>
    
</div>