
  <header data-controller="scroll">
  <span id='go-top' class='rounded-circle bg-warning text-white text-center align-middle d-none' data-action='click->scroll#gotoTop'>
  <i class='fas fa-angle-up'></i>
  </span>

    <nav id="navbar_main" class="mobile-offcanvas navbar navbar-expand-lg navbar-dark bg-primary" data-scroll-target="scroll">
        <div class="container-fluid">
          <div class="offcanvas-header">  
              <button class="btn-close float-end"></button>
          </div>
          <a class="navbar-brand" href="#">Brand</a>
          <ul class="navbar-nav">

              <li data-controller="inventory">
                <a href="javascript:void(0)" id="cart" data-action="click->inventory#opencart">
                  <i class="fa fa-shopping-cart"></i> 
                  Cart
                </a>
                <%=render 'inventory/index'%>
              </li>
              <li class="nav-link">
                <%=link_to "Profile",profile_path%>
              </li>

              <li class="nav-item active"> <a class="nav-link" href="#">Home </a> </li>
              <li class="nav-item"><a class="nav-link" href="#"> About </a></li>
              <li class="nav-item"><a class="nav-link" href="#"> Services </a></li>
              <li class="nav-item" data-controller='lang'>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="true">
                    Languages
                    </button>
            
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">  
                      <li><%= link_to I18n.t('admin.en'), 'javascript:void(0)', class:'nav-link bg-primary', data: {value: 'en' ,action: 'click->lang#switch_lang'}%></li>
                      <li><%= link_to I18n.t('admin.vi'), 'javascript:void(0)', class:'nav-link bg-primary', data: {value: 'vi' ,action: 'click->lang#switch_lang'}%></li>
                    </ul>
                </div>
              </li>

          </ul>
        </div> <!-- container-fluid.// -->
    </nav>
  </header>

