header[data-controller="scroll"]
  span#go-top.rounded-circle.bg-warning.text-white.text-center.align-middle.d-none[data-action="click->scroll#gotoTop"]

    i.fas.fa-angle-up

  nav#navbar_main.mobile-offcanvas.navbar.navbar-expand-lg.navbar-dark.bg-primary[data-scroll-target="scroll"]
    .container-fluid

      .offcanvas-header
        button.btn-close.float-end

      = link_to " Thuoc", root_path, class:"nav-link fab fa-cuttlefish fs-36" 
      ul.navbar-nav
        li[data-controller="inventory"]
          a#cart[href="javascript:void(0)" data-action="click->inventory#opencart"]
            i.fa.fa-shopping-cart
              |  Cart 
          =render 'inventory/index'
        - if user_signed_in?
          li.nav-item
            = link_to "Profile",user_profile_path(current_user), class:"nav-link"
        li.nav-item.active
          = link_to I18n.t('menus.home'), root_path, class:"nav-link"
        li.nav-item
          = link_to "Product",products_path , class:"nav-link"
        li.nav-item
          a.nav-link[href="#"]
            |  Services 
        - if user_signed_in?
          li.nav-item
            = link_to I18n.t('title.logout'), destroy_user_session_path , data: {confirm: "Are you sure?", method:"delete"}, class:'nav-link'
        li.nav-item[data-controller="lang"]

          .dropdown

            button#dropdownMenuLink.btn.btn-secondary.dropdown-toggle[type="button" data-bs-toggle="dropdown" aria-expanded="true"]
              |  Languages 

            ul.dropdown-menu[aria-labelledby="dropdownMenuLink"]
              li
                = link_to I18n.t('admin.en'), 'javascript:void(0)', class:'nav-link bg-primary', data: {value: 'en' ,action: 'click->lang#switch_lang'}
              li
                = link_to I18n.t('admin.vi'), 'javascript:void(0)', class:'nav-link bg-primary', data: {value: 'vi' ,action: 'click->lang#switch_lang'}
