<div id="main_info">
  <h2> CONTACT US </h2>
  <ul>
    <li>
        <p><i class="fas fa-map-marker-alt"></i> 1050  Wakefield Street </p></li>
    <li>
        <p><i class="fas fa-phone-volume"></i> 907-772-2381 </p></li>
    <li>
        <p><i class="fas fa-envelope-open-text"></i> tazeippagrauti-7603@yopmail.com </p></li>
  </ul>
</div>