#main_info
  h2
    |  CONTACT US 
  ul
    li
      p
        i.fas.fa-map-marker-alt
        |  1050 Wakefield Street 
    li
      p
        i.fas.fa-phone-volume
        |  907-772-2381 
    li
      p
        i.fas.fa-envelope-open-text
        |  tazeippagrauti-7603@yopmail.com 
