<div  id="pro_info">
  <h2>PRODUCTS</h2>
  <ul>
    <li>Lorem ipsum
    </li>
    <li>Lorem ipsum
    </li>
    <li>Lorem ipsum
    </li>
    <li>Lorem ipsum
    </li>
    <li>Lorem ipsum
    </li>
    <li>Lorem ipsum
    </li>
    <li>Lorem ipsum
    </li>
  </ul>
</div>