<div class="profile-head">
  <h5><%=current_user.profile.name%></h5>
  <h6>Web Developer and Designer</h6>
  <p class="proile-rating">RANKINGS : <span>8/10</span></p>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link active"
        id="home-tab"
        data-toggle="tab"
        href="#home"
        role="tab"
        aria-controls="home"
        aria-selected="true"
        >About</a
      >
    </li>
  </ul>
</div>
