.profile-head
  h5
    =current_user.profile.name
  h6
    | Web Developer and Designer
  p.proile-rating
    | RANKINGS : 
    span
      | 8/10
  ul#myTab.nav.nav-tabs[role="tablist"]
    li.nav-item
      a#home-tab.nav-link.active[data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"]
        | About
