<div class="col-md-8">
  <div class="tab-content profile-tab" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="home"
      role="tabpanel"
      aria-labelledby="home-tab"
    >
      <div class="row">
        <div class="col-md-6">
          <label>User Id/Email</label>
        </div>
        <div class="col-md-6">
          <p><%=current_user&.email%></p>
        </div>
      </div>
      <% @profile.attributes.each do |name, value|%>
        <div class="row">
          <div class="col-md-6">
            <label><%=name%></label>
          </div>
          <div class="col-md-6">
            <p><%=value%></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
