<span id='cart' class='text-center align-middle text-black'>
    <%= link_to order_index_path, class: 'text-primary bg-light p-3 animate__bounceIn' do %>
        <i class="fas fa-shopping-cart"></i>
    <%end%>
</span>
<%
=begin%>
 <div class="animate__animated animate__bounce animate__delay-2s">Example</div> 
<%
=end%>