<span id='cart' class='nav-link'>
    <%= link_to user_order_path(current_user, current_user.in_cart.id), class: 'text-primary bg-light p-3 animate__bounceIn' do %>
        <i class="fas fa-shopping-cart"></i>
    <%end%>
</span>
