<footer class="container bg-primary">
<div >
        <div class="copyright">
            <p>Copyright &copy;</p>
        </div>

        <div class="update">
            <p>Updated at...</p>
        </div>
</div>
</footer>