<div class="container" id="footer">
    <div class="copyright">
        <p>Copyright...</p>
    </div>
    <div>
        <div class="update">
            <p>Updated at...</p>
        </div>

    </div>
</div>