<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <%= link_to I18n.t('btn.login'), new_user_session_path + '?type=signin', class: 'nav-link' %>
    </li>
    <li class="nav-item">
        <%= link_to I18n.t('btn.signup'), new_user_session_path + '?type=signup', class: 'nav-link' %>
    </li>

</ul>