<header>
    <div class="bg-warning container-fluid" id='notice'>
        <button id="open-navbar" data-trigger="navbar_main" class="d-lg-none btn btn-transparent text-white" type="button"><i class="fas fa-bars"></i></button>

    </div>
    <nav id="navbar_main" class="mobile-offcanvas navbar navbar-expand-lg navbar-dark bg-primary ">
        <div class="container-fluid ">
            <div class="offcanvas-header">
                <button class="btn-close float-end"></button>
            </div>
            <a class="navbar-brand" href="//localhost:3000">Brand</a>
            <ul class="navbar-nav">
                <% if user_signed_in? %>
                <%= render 'layouts/shared/header-signed-in' %>
                <% else %>
                <%= render 'layouts/shared/header-not-signed-in' %>
                <% end %>
                <%= render "layouts/shared/language_btns" %>
            </ul>
        </div> <!-- container// -->
    </nav>
</header>