section[name="checkout"]
  - if user_signed_in?
    .container
      .row
        .col
        .col-6.item
          = render 'checkout/partials/content'
        .col-4.bill
          = render 'checkout/partials/bill'
        .col
