<div class= 'login'>
<div class= 'login-form row'>
<div class='col-sm-6'>
<%= render 'users/sessions/new' %>
</div>
<div class='col-sm-6'>
<%= render 'users/registrations/new' %>
</div>
</div>
</div>

