<div class='login'>
<div class='login-form'>
<div class="row">

<div class='col-sm-6' style="float:left">
<%= render 'users/sessions/new' %>
</div>

<div class='col-sm-6'  style="float:right">
<%= render 'users/registrations/new' %>
</div>

</div>
<div class="row">
<div class="col-sm-12">
<%= render "users/shared/links" %>
</div>
</div>
</div>
</div>