<div class='login'>
    <div class='login-form'>


        <div class="row">
            <div class='col-12' style="text-align:center">
                <%= render 'users/sessions/new' %>
            </div>

        </div>

        <div class="row_2">
            <div class="col-12">
                <%= render "users/shared/links" %>
            </div>
        </div>



    </div>
</div>