<div class="login container">
  <div class="login-form row">
    <div class="col-6">
     <%= render 'users/sessions/left' %>
      
    </div>
    <div class="col-6">
      <%= render 'users/registrations/new'%>
    </div>
      <div class='shared-links col-12'>
        <%= render "users/shared/links" %>
    </div>
    </div>
    
</div>