<section>
    <div class='bg-warning w-100 h-50'>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 text-center">
                <button type="button" class="btn btn-primary"></button>
                </div>
                <div class="col-6 text-center">
                <button type="button" class="btn btn-primary"></button>
                </div>
            </div>
        </div>
    </div>
</section>