<section name='products-splide' id='products-splide' data-controller='products-splide'>
    <div class="splide " id="product-splide" data-products-splide-target='splide'>
        <div class="splide__track container">
            <ul class="splide__list">
                <% @products.each do |product|%>
                <%if product.event.hot_sale?%>
                <li class="splide__slide">
                    <%= render partial: 'shared/product/item', locals: {product: product}%>
                </li>
                <%end%>
                <%end%>
            </ul>
        </div>
    </div>
</section>