<section name='products-splide' id='products-splide'>
    <div class="splide" data-controller='products_splide' id='products-splide-container'>
	<div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">Slide 01</li>
			<li class="splide__slide">Slide 02</li>
			<li class="splide__slide">Slide 03</li>
		</ul>
	</div>
</div>
</section>