<section name='splide' date-controller='splite'>
    <div class="splide" id='splide_' data-splide-target='splide'>
        <div class="splide_track">
            <ul class="splide_list">
                <li class="splide__slide"> 
                    <div class="splide__slide-content"
                        <img data-splide-lazy="https://picsum.photos/id/237/2048/1024" alt='sample'>
                    </div>
                </li>
                <li class="splide__slide"> 
                    <div class="splide__slide-content">
                        <img data-splide-lazy="https://picsum.photos/id/239/2048/1024" alt='sample'>
                        <div class="splide__slide-description w-40 text-primary p-2 rounded bg-secondary">
                            00000000000000000000000000000000000000005
                        </div>
                     </div>
                </li>
                <li class="splide__slide"> 
                    <div class="splide__slide-content">
                        <img data-splide-lazy="https://picsum.photos/id/250/2048/1024" alt='sample'>
                        <div class="splide__slide-description w-80 text-primary p-2 rounded bg-secondary">
                            00000000000000000000000000000000000000005
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>    