<section name='splide' data-controller='splide'>
	<div class="splide" id='splide' data-splide-target='splide'>
		<div class="splide__track">
			<ul class="splide__list">
				<li class="splide__slide">
					<div class="splide__slide-content">
						<img data-splide-lazy="https://picsum.photos/id/237/2048/1024" alt="sample">
						<div class="splide__slide-description rounded text-primary text-justify">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias sit sapiente sint sed labore molestiae, laborum reiciendis quas animi, quae voluptas perspiciatis rerum quaerat laudantium odio minus similique impedit beatae?
						</div>
					</div>
				</li>
				<li class="splide__slide">
					<div class="splide__slide-content">
						<img data-splide-lazy="https://picsum.photos/seed/picsum/2048/1024" alt="sample">
						<div class="splide__slide-description rounded text-primary text-justify">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias sit sapiente sint sed labore molestiae, laborum reiciendis quas animi, quae voluptas perspiciatis rerum quaerat laudantium odio minus similique impedit beatae?
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem esse sunt deserunt quod, in cum. Blanditiis sed iste officia ratione natus dicta alias officiis explicabo maiores, iusto quos facilis atque.
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid tenetur magni quibusdam incidunt ducimus, repellendus delectus nam eaque cupiditate nemo modi explicabo aspernatur iste exercitationem saepe quos placeat harum! Aspernatur.
						</div>
					</div>
				</li>
				<li class="splide__slide">
					<div class="splide__slide-content">
						<img data-splide-lazy="https://picsum.photos/2048/1024?grayscale" alt="sample">
						<div class="splide__slide-description rounded text-primary text-justify">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias sit sapiente sint sed labore molestiae, laborum reiciendis quas animi, quae voluptas perspiciatis rerum quaerat laudantium odio minus similique impedit beatae?
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>