<section name="splide" data-controller='splide'>
    <div class="splide" id="splide" data-splide-target='splide'>
        <div class="splide__track">
            <ul class="splide__list">
            <% @slides.each do |slide| %>
                <li class="splide__slide">
                    <div class="splide__splide-content">
                        
                        <img data-splide-lazy=<%=load_image(slide.image)%> alt="sample">
                        <div class="splide__splide-content-shade"></div>
                        <div class="splide__splide-description">
                            <%= slide.description%>

                        </div>
                    </div>
                </li>
            <% end %>
            </ul>
        </div>
    </div>
</section>