section#product-detail.bg-light
  #product-detail-container.container.pb-5
    #product-detail-row.row
      = render "products/partials/detail/left_detail"
      = render "products/partials/detail/right_detail"
