<section class="bg-light" id='product-detail'>
    <div class="container pb-5" id='product-detail-container'>
        <div class="row" id='product-detail-row'>
            <%= render "products/partials/detail/left_detail" %>
            <%= render "products/partials/detail/right_detail" %>
        </div>
    </div>
</section>