<section class='container' name='related-products-splide' data-controller='related-products'>
    <div class="splide " id="related-products" data-related-products-target='splide'>
        <div class="splide__track ">
            <ul class="splide__list">
                <%@related_products&.each do |product|%>
                <li class="splide__slide"><%= render partial: 'shared/product/item', locals: {product: product}%></li>
                <%end%>
            </ul>
        </div>
    </div>
</section>