<section name='related-products-splide' data-controller='related-products'>
    <div class="splide" id="related-products" data-related-products-target='splide'>
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide"><%@product.name%></li>
                <li class="splide__slide">Slide 02</li>
                <li class="splide__slide">Slide 03</li>
            </ul>
        </div>
    </div>
</section>