<section name="product-second" data-controller="product">
<div id="secondary-hot-slider" class="splide" data-product-target='products' data-option="secondary">
<div class="splide__track">
<ul class="splide__list">
  <% @product.each do |product| %>
    <li class="splide__slide">
      <div class="splide__slide-content">
        <img data-splide-lazy=<%=load_image(product)%> alt='sample'>
      </div>
    </li>
  <%end%>
</ul>
</div>
</div>
</div>
</section>