<section name="product">
  <div id="<%= second_id %>" class="splide"  style="background-color:wheat; height: 160px"  data-product-target='secondary' data-option="secondary">
    <div class="splide__track">
      <ul class="splide__list">
        <% @products_recommended.each do |product| %>
          <li class="splide__slide">
            <div class="splide__slide-content">
              <div class='thumbnail'>
                <img data-splide-lazy=<%=load_image(product)%> alt='sample'>
              </div>
            </div>
          </li>
        <%end%>
      </ul>
    </div>
  </div>
</section>