<div class="row">
  <div class="col-md-4"><%= render "profile/partials/first_row/avatar" %></div>
  <div class="col-md-6">
    <%= render "profile/partials/first_row/profile_head" %>
  </div>
  <div class="col-md-2">
    <%= render "profile/partials/first_row/btn_edit" %>
  </div>
</div>
