<button data-trigger='notice' data-value='Thuốc Ho'></button>
<button data-trigger='notice' data-value='Thuốc Cảm'></button>
<button data-trigger='notice' data-value='Thuốc Sốt'></button>
<div id="append-here"></div>