<section class='container mt-2' id='order-detail'>
  <%= render "orders/partials/header" %>
  <div class="container mb-4">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-striped text-white">
            <thead>
              <tr>
                <th scope="col" id='thumbnail-col'> </th>
                <th scope="col" id='product-col' class='text-left'>Product</th>
                <th scope="col" id='qty-col' class="text-center">Quantity</th>
                <th scope="col" id='price-col' class="text-right">Price</th>
                <th scope="col" id='subtotal-col' class="text-right">Subtotal</th>
                <th> </th>
              </tr>
            </thead>
            <%= render "orders/partials/detail"%>
          </table>
        </div>
      </div>
      <div class="col mb-2">
        <div class="row">
          <div class="col-sm-12  col-md-6">
            <%= link_to 'Continue Shopping', products_path, class: "btn btn-block btn-light" %>
          </div>
          <div class="col-sm-12 col-md-6 text-right">
            <%= link_to 'Check Out', checkout_path(@cart.id), class: "btn btn-block btn-light" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if @cart.in_cart? %>
    <div class='text-center d-block'>Prices could change</div>
  <% end %>
</section>
