<div class="row d-flex justify-content-around">
  <div class="col-xs-4 from">
    <p class="lead marginbottom">From : Dynofy</p>
    <p>350 Rhode Island Street</p>
    <p>Suite 240, San Francisco</p>
    <p>California, 94103</p>
    <p>Phone: 415-767-3600</p>
    <p>Email: contact@dynofy.com</p>
  </div>

  <div class="col-xs-4 to">
    <p class="lead marginbottom">To : John Doe</p>
    <p>425 Market Street</p>
    <p>Suite 2200, San Francisco</p>
    <p>California, 94105</p>
    <p>Phone: 415-676-3600</p>
    <p>Email: john@doe.com</p>
  </div>

  <div class="col-xs-4 text-right payment-details">
    <p class="lead marginbottom payment-info">Payment details</p>
    <p>Date: 14 April 2014</p>
    <p>VAT: DK888-777 </p>
    <p>Total Amount: $1019</p>
    <p>Account Name: Flatter</p>
  </div>
</div>
