.invoice-ribbon
  .ribbon-inner
    = I18n.t('order.' + @cart.status)
.row.d-flex.justify-content-around
  .col-sm-6.top-left.text-center
    i.fa.fa-rocket
  .col-sm-6.top-right.text-center
    h3
      | INVOICE-1234578
    span
      | 14 April 2014
hr
