          
<div class="row d-flex justify-content-around">
  <div class="col-xs-6 margintop">
    <p class="lead marginbottom">THANK YOU!</p>

    <button class="btn btn-success" id="invoice-print"><i class="fa fa-print"></i> Print Invoice</button>
    <button class="btn btn-danger"><i class="fa fa-envelope-o"></i> Mail Invoice</button>
  </div>
  <div class="col-xs-6 text-right pull-right invoice-total">
    <p>Subtotal : $1019</p>
    <p>Discount (10%) : $101 </p>
    <p>VAT (8%) : $73 </p>
    <p>Total : $991 </p>
  </div>
</div>
