.row.d-flex.justify-content-around
  .col-xs-6.margintop
    p.lead.marginbottom
      | THANK YOU!
    button#invoice-print.btn.btn-success
      i.fa.fa-print
      |  Print Invoice
    button.btn.btn-danger
      i.fa.fa-envelope-o
      |  Mail Invoice
  .col-xs-6.text-right.pull-right.invoice-total
    p
      | Subtotal : $1019
    p
      | Fee : $1019
    p
      | VAT (10%) : $73 
    p
      | Total : $991 
