<div class="d-flex flex-column justify-content-center align-items-center" id="order-heading">
    <div class="text-uppercase">
        <p>Order detail <%= current_user&.orders&.first.id%></p>
    </div>
    <div class="h4">Tuesday, December 08, 2020</div>
    <div class="pt-1">
        <p>Order #12615 is currently<b class="text-dark"> processing</b></p>
    </div>
    <div class="btn close text-white"> &times; </div>
</div>