<div class="container">
  <div class="row">
    <div class="order_item col">
      <%= image_tag item.product.thumbnail%>
    </div>

    <div class="order_item col">
      <%= item.price%> $
    </div>

    <div class="order_item col">
    <%= item.quantity%>
    </div>
  </div>
</div>