    <div class="d-flex justify-content-start align-items-center list py-1" >
        <div class="mx-3" style="width: 30px; height: 30px">
            <%= image_tag item.product.thumbnail, class: 'w-100 h-100' %> 
        </div>
        <div class="order-item"><%=item.product.name%></div>
    </div>