<ul class="list-inline">
    <li class="list-inline-item">
        <h6><%=I18n.t('product.manufacturer')%>:</h6>
    </li>
    <li class="list-inline-item">
        <p class="text-muted"><strong><%=@product.manufacturer.name%></strong></p>
    </li>
</ul>

<h6><%=I18n.t('product.description')%>:</h6>
<p><%=@product.description%></p>
<ul class="list-inline">
    <li class="list-inline-item">
        <h6>Avaliable Color :</h6>
    </li>
    <li class="list-inline-item">
        <p class="text-muted"><strong>White / Black</strong></p>
    </li>
</ul>

<h6>Specification:</h6>
<ul class="list-unstyled pb-3">
    <li>Not defined yet</li>
    <li>Not defined yet</li>
    <li>Not defined yet</li>
</ul>