<p class="py-2">
    <i class="fa fa-star text-warning"></i>
    <i class="fa fa-star text-warning"></i>
    <i class="fa fa-star text-warning"></i>
    <i class="fa fa-star text-warning"></i>
    <i class="fa fa-star text-secondary"></i>
    <span class="list-inline-item text-dark">Rating 4.8</span>
</p>