p.py-2
  i.fa.fa-star.text-warning
  i.fa.fa-star.text-warning
  i.fa.fa-star.text-warning
  i.fa.fa-star.text-warning
  i.fa.fa-star.text-secondary
  span.list-inline-item.text-dark
    | Rating 4.8
