@import "./mixins/util";
@import "./mixins/sign_up";
@import "./variables";
@import "order/item";
* {
  box-sizing: border-box;
}
body {
  height: 100%;
  padding-bottom: 60px;
}
a {
  color: $black !important;
  &:hover {
    color: $aqua !important;
    text-decoration: none !important;
  }
}
#notice {
  min-height: $min-height;
  max-height: $max-height;
  #bar_opener {
    min-height: $min-height;
    max-height: $max-height;
    &:focus {
      box-shadow: none !important;
    }
  }
}
.screen-darken {
  height: 100%;
  width: 100%;
  z-index: 900;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition: opacity 0.2s linear, visibility 0.2s, width 2s ease-in;
  &.active {
    z-index: 10;
    transition: opacity 0.3s ease, width 0s;
    opacity: 1;
    width: 100%;
    visibility: visible;
  }
}

.carousel {
  @include DefaultWidthHeight(100%, 300px, relative);
  .carousel-inner {
    @include DefaultWidthHeight();
    .carousel-item {
      height: 100%;
      @include DefaultWidthHeight();
      .image-slider {
        @include DefaultWidthHeight();
        background-color: gray;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &[tags="1"] {
          background-image: url("~images/Banners/banner_01.jpg");
        }
        &[tags="2"] {
          background-image: url("~images/Banners/banner_02.jpg");
        }
        &[tags="3"] {
          background-image: url("~images/Banners/banner_03.jpg");
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

section {
  position: relative;
  padding: 30px;

  &[name="order"] {
    padding: 0px !important;
  }
  &[name="inventory"] {
    display: none !important;
    margin-top: 1%;
    position: absolute;
    right: 200px;
    width: 500px;
    padding: 0;
    height: 400px;
    z-index: 999;
    &.show {
      display: block !important;
    }

    *:before,
    *:after {
      box-sizing: border-box;
    }

    .badge {
      background-color: #6394f8;
      border-radius: 10px;
      color: white;
      display: inline-block;
      font-size: 12px;
      line-height: 1;
      padding: 3px 7px;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
    }

    .shopping-cart {
      color: black;
      margin: 0;
      padding: 10px;
      width: 100%;
      float: right;
      background: #afafaf;
      position: relative;
      border-radius: 3px;

      .quantity {
        .grab {
          cursor: -webkit-grab;
          cursor: grab;
        }
        #rem_item {
        }
        #add_item {
        }
      }

      .shopping-cart-header {
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 15px;

        .shopping-cart-total {
          float: right;
        }
      }

      .shopping-cart-items {
        padding-top: 20px;
        padding-left: 0px !important;
        list-style: none;

        li {
          border-bottom: 1px solid #e8e8e8;
          padding-bottom: 15px;
          margin-bottom: 18px;
        }
        .card_thumb {
          height: 70px;
          width: 70px;
          float: left;
          margin-right: 12px;
          img {
            border-radius: 5px;
            height: 100%;
            width: 100%;
          }
        }

        .item-name {
          display: block;
          padding-top: 10px;
          font-size: 16px;
        }

        .item-price {
          margin-right: 8px;
        }
      }
    }

    .shopping-cart:after {
      bottom: 100%;
      left: 34%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: black;
      border-width: 8px;
      margin-left: -8px;
    }

    .cart-icon {
      color: #515783;
      font-size: 24px;
      margin-right: 7px;
      float: left;
    }

    .button {
      color: #afafaf;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      display: block;
      border-radius: 3px;
      font-size: 16px;
      margin: 25px 0 15px 0;

      &:hover {
      }
    }

    .clearfix:after {
      content: "";
      display: table;
      clear: bth;
    }
    .total {
      width: 126px;
      margin-right: 50px;
    }
    .checkout_btn {
      margin: 0 42%;
    }
    #checkout {
      text-decoration: none;
    }

    #close_cart {
      font-size: 28px;
      position: absolute;
      top: -3px;
      right: 8px;
    }
  }
  &[name="slide"] {
    height: 700px;
    width: 100%;
    padding: 0;
  }
  &[name="member"] {
    height: 150px;
    padding: 0;
    background: linear-gradient(102.04deg, #00b46e, #9ac100);
  }
  &[name="product"] {
    height: 80%;
    width: 100%;
    padding: 2;

    .title {
      text-align: center;
      text-transform: uppercase;
      font-size: 3em;
    }
    .splide__list {
      // background-color: aqua;
      height: 60%;
      width: 90%;
      .splide__slide {
        height: 60%;
        width: 90%;
        .splide__slide-content {
          img {
            width: 100%;
            height: 100%;
          }
          .thumbnail {
            border-radius: 10px;
            width: 150px;
            height: 150px;
          }
          height: 80%;
          width: 100%;
          padding: 0;
          .splide__slide-descriptions {
            color: black;
            opacity: 0.7;
            width: 30%;
            height: 16%;
            position: absolute;
            top: 4%;
            left: 2%;
            border-radius: 6px;
          }
        }
      }
    }
    .contact {
      margin-top: 10px;
      height: 11%;
      background-color: gray;
      h2 {
        border-bottom: oldlace 2px solid;
      }
      .col {
        list-style-type: none;
        border: white 5px solid;
      }
      .footer {
        font-size: 25px;
        margin-top: 10px;
        i {
          margin: 0px 5px;
          border: solid oldlace 3px;
          border-radius: 50%;
        }
      }
    }
  }
  &[name="splide"] {
    height: calc(100vh * 0.9); //vertical height * 90%
    width: 100%;
    padding: 0;
    background-color: wheat;

    .splide__slide {
      .splide__slide-content {
        height: calc(100vh * 0.9);
        .splide__slide-descriptions {
          color: white;
          opacity: 0.7;
          width: 30%;
          height: 16%;
          position: absolute;
          top: 4%;
          left: 2%;
          border-radius: 6px;
        }
      }
    }
  }
  &[name="product_page"] {
    .product_item {
      .card-body {
        color: black;
      }
    }
  }
  &[name="profile"] {
    .form-group {
      margin: 10px 0;
    }
    #avatar {
      border-radius: 50%;
      border: white 5px solid;
    }
    .tab {
      margin: 0 5px;
    }
    .tab-contents {
      .details {
        list-style: none;
      }
    }
    .img-btn {
      border-radius: 5px;
    }
  }
  &[name="login"] {
    /*//////////////////////////////////////////////////////////////////
[ FONT ]*/
    @font-face {
      font-family: Poppins-Regular;
      src: url("../fonts/poppins/Poppins-Regular.ttf");
    }

    @font-face {
      font-family: Poppins-Medium;
      src: url("../fonts/poppins/Poppins-Medium.ttf");
    }

    @font-face {
      font-family: Poppins-Bold;
      src: url("../fonts/poppins/Poppins-Bold.ttf");
    }

    @font-face {
      font-family: Poppins-SemiBold;
      src: url("../fonts/poppins/Poppins-SemiBold.ttf");
    }

    /*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

    * {
      margin: 0px;
      box-sizing: border-box;
    }

    body,
    html {
      height: 100%;
      font-family: Poppins-Regular, sans-serif;
    }

    /*---------------------------------------------*/
    a {
      text-decoration: none;
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
    }

    a:focus {
      outline: none !important;
    }

    a:hover {
      text-decoration: none;
      color: #a64bf4;
    }

    /*---------------------------------------------*/
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0px;
    }

    p {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
    }

    ul,
    li {
      margin: 0px;
      list-style-type: none;
    }

    /*---------------------------------------------*/
    input {
      outline: none;
      border: none;
    }

    textarea {
      outline: none;
      border: none;
    }

    textarea:focus,
    input:focus {
      border-color: transparent !important;
    }

    input:focus::-webkit-input-placeholder {
      color: transparent;
    }
    input:focus:-moz-placeholder {
      color: transparent;
    }
    input:focus::-moz-placeholder {
      color: transparent;
    }
    input:focus:-ms-input-placeholder {
      color: transparent;
    }

    textarea:focus::-webkit-input-placeholder {
      color: transparent;
    }
    textarea:focus:-moz-placeholder {
      color: transparent;
    }
    textarea:focus::-moz-placeholder {
      color: transparent;
    }
    textarea:focus:-ms-input-placeholder {
      color: transparent;
    }

    input::-webkit-input-placeholder {
      color: #adadad;
    }
    input:-moz-placeholder {
      color: #adadad;
    }
    input::-moz-placeholder {
      color: #adadad;
    }
    input:-ms-input-placeholder {
      color: #adadad;
    }

    textarea::-webkit-input-placeholder {
      color: #adadad;
    }
    textarea:-moz-placeholder {
      color: #adadad;
    }
    textarea::-moz-placeholder {
      color: #adadad;
    }
    textarea:-ms-input-placeholder {
      color: #adadad;
    }

    /*---------------------------------------------*/
    button {
      outline: none !important;
      border: none;
      background: transparent;
    }

    button:hover {
      cursor: pointer;
    }

    iframe {
      border: none !important;
    }

    /*//////////////////////////////////////////////////////////////////
[ Utility ]*/
    .txt1 {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.5;
      color: #666666;
    }

    .txt2 {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.5;
      color: #333333;
      text-transform: uppercase;
    }

    .bg1 {
      background-color: #3b5998;
    }
    .bg2 {
      background-color: #1da1f2;
    }
    .bg3 {
      background-color: #ea4335;
    }

    /*//////////////////////////////////////////////////////////////////
[ login ]*/
    .limiter {
      width: 100%;
      margin: 0 auto;
    }

    .container-login100 {
      width: 100%;
      min-height: 100vh;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 15px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .wrap-login100 {
      width: 350px;
      background: #fff;
      border-radius: 10px;
      overflow: hidden;
    }

    /*------------------------------------------------------------------
[ Form ]*/

    .login100-form {
      width: 100%;
    }

    .login100-form-title {
      display: block;
      font-family: Poppins-Bold;
      font-size: 39px;
      color: #333333;
      line-height: 1.2;
      text-align: center;
    }

    /*------------------------------------------------------------------
[ Input ]*/

    .wrap-input100 {
      width: 100%;
      position: relative;
    }

    .label-input100 {
      font-family: Poppins-Regular;
      font-size: 14px;
      color: #333333;
      line-height: 1.5;
      padding-left: 7px;
    }

    .input100 {
      font-family: Poppins-Medium;
      font-size: 16px;
      color: #333333;
      line-height: 1.2;

      display: block;
      width: 100%;
      height: 55px;
      background: transparent;
      padding: 0 7px 0 43px;
    }

    /*---------------------------------------------*/
    .focus-input100 {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
    }

    .focus-input100::after {
      content: attr(data-symbol);
      font-family: Material-Design-Iconic-Font;
      color: #adadad;
      font-size: 22px;

      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      height: calc(100% - 20px);
      bottom: 0;
      left: 0;
      padding-left: 13px;
      padding-top: 3px;
    }

    .focus-input100::before {
      content: "";
      display: block;
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background: #7f7f7f;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
    }

    .input100:focus + .focus-input100::before {
      width: 100%;
    }

    .has-val.input100 + .focus-input100::before {
      width: 100%;
    }

    .input100:focus + .focus-input100::after {
      color: #a64bf4;
    }

    .has-val.input100 + .focus-input100::after {
      color: #a64bf4;
    }

    /*------------------------------------------------------------------
[ Button ]*/
    .container-login100-form-btn {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .wrap-login100-form-btn {
      width: 100%;
      display: block;
      position: relative;
      z-index: 1;
      border-radius: 25px;
      overflow: hidden;
      margin: 0 auto;

      box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
      -moz-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
      -webkit-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
      -o-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
      -ms-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    }

    .login100-form-bgbtn {
      position: absolute;
      z-index: -1;
      width: 300%;
      height: 100%;
      background: #a64bf4;
      background: -webkit-linear-gradient(
        right,
        #00dbde,
        #fc00ff,
        #00dbde,
        #fc00ff
      );
      background: -o-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
      background: -moz-linear-gradient(
        right,
        #00dbde,
        #fc00ff,
        #00dbde,
        #fc00ff
      );
      background: linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
      top: 0;
      left: -100%;

      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
    }

    .login100-form-btn {
      font-family: Poppins-Medium;
      font-size: 16px;
      color: #fff;
      line-height: 1.2;
      text-transform: uppercase;

      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      width: 100%;
      height: 50px;
    }

    .wrap-login100-form-btn:hover .login100-form-bgbtn {
      left: 0;
    }

    /*------------------------------------------------------------------
[ Alert validate ]*/

    .validate-input {
      position: relative;
    }

    .alert-validate::before {
      content: attr(data-validate);
      position: absolute;
      max-width: 70%;
      background-color: #fff;
      border: 1px solid #c80000;
      border-radius: 2px;
      padding: 4px 25px 4px 10px;
      bottom: calc((100% - 20px) / 2);
      -webkit-transform: translateY(50%);
      -moz-transform: translateY(50%);
      -ms-transform: translateY(50%);
      -o-transform: translateY(50%);
      transform: translateY(50%);
      right: 2px;
      pointer-events: none;

      font-family: Poppins-Regular;
      color: #c80000;
      font-size: 13px;
      line-height: 1.4;
      text-align: left;

      visibility: hidden;
      opacity: 0;

      -webkit-transition: opacity 0.4s;
      -o-transition: opacity 0.4s;
      -moz-transition: opacity 0.4s;
      transition: opacity 0.4s;
    }

    .alert-validate::after {
      content: "\f06a";
      font-family: FontAwesome;
      display: block;
      position: absolute;
      color: #c80000;
      font-size: 16px;
      bottom: calc((100% - 20px) / 2);
      -webkit-transform: translateY(50%);
      -moz-transform: translateY(50%);
      -ms-transform: translateY(50%);
      -o-transform: translateY(50%);
      transform: translateY(50%);
      right: 8px;
    }

    .alert-validate:hover:before {
      visibility: visible;
      opacity: 1;
    }

    @media (max-width: 992px) {
      .alert-validate::before {
        visibility: visible;
        opacity: 1;
      }
    }

    /*//////////////////////////////////////////////////////////////////
[ Social item ]*/
    .login100-social-item {
      font-size: 25px;
      color: #fff;
      list-style: none;

      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 5px;
    }

    .login100-social-item:hover {
      color: #fff;
      background-color: #333333;
    }

    /*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

    @media (max-width: 576px) {
      .wrap-login100 {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  &[name="ftco-section"] {
    $font-primary: "Lato", Arial, sans-serif;
    $primary: #1089ff;

    @mixin gradient-background() {
      background: rgba(3, 96, 237, 1);
      background: -moz-linear-gradient(
        45deg,
        rgba(3, 96, 237, 1) 0%,
        rgba(255, 93, 177, 1) 100%
      );
      background: -webkit-gradient(
        left bottom,
        right top,
        color-stop(0%, rgba(3, 96, 237, 1)),
        color-stop(100%, rgba(255, 93, 177, 1))
      );
      background: -webkit-linear-gradient(
        45deg,
        rgba(3, 96, 237, 1) 0%,
        rgba(255, 93, 177, 1) 100%
      );
      background: -o-linear-gradient(
        45deg,
        rgba(3, 96, 237, 1) 0%,
        rgba(255, 93, 177, 1) 100%
      );
      background: -ms-linear-gradient(
        45deg,
        rgba(3, 96, 237, 1) 0%,
        rgba(255, 93, 177, 1) 100%
      );
      background: linear-gradient(
        45deg,
        rgba(3, 96, 237, 1) 0%,
        rgba(255, 93, 177, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0360ed', endColorstr='#ff5db1', GradientType=1 );
    }

    body {
      font-family: $font-primary;
      font-size: 16px;
      line-height: 1.8;
      font-weight: normal;
      // background: #f2d6eb;
      color: lighten($black, 50%);
      position: relative;
      z-index: 0;
      &:after {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        @include gradient-background();
        opacity: 0.4;
      }
    }
    a {
      transition: 0.3s all ease;
      color: $primary;
      &:hover,
      &:focus {
        text-decoration: none !important;
        outline: none !important;
        box-shadow: none;
      }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5 {
      line-height: 1.5;
      font-weight: 400;
      font-family: $font-primary;
      color: $black;
    }

    .bg-primary {
      background: $primary !important;
    }

    .ftco-section {
      padding: 7em 0;
    }

    .ftco-no-pt {
      padding-top: 0;
    }
    .ftco-no-pb {
      padding-bottom: 0;
    }
    //HEADING SECTION
    .heading-section {
      font-size: 28px;
      color: $white;
    }

    //COVER BG
    .img {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .login-wrap {
      .signup-form {
        align-content: left;
      }
      width: 350px;
      position: relative;
      z-index: 0;
      color: rgba(255, 255, 255, 0.7);
      border: 1px solid rgba(255, 255, 255, 0.2);
      padding: 40px;
      border-radius: 4px;
      h3 {
        font-weight: 300;
        color: $white;
        font-size: 22px;
      }
    }

    .form-group {
      position: relative;
      label {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 1px;
        color: $white;
      }
      .icon {
        position: absolute;
        top: 50%;
        left: 15px;
        margin-top: 10px;
        color: $white;
      }
    }

    .field-icon {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      color: rgba(255, 255, 255, 0.5);
      margin-top: 15px;
    }

    //FORM CONTROL
    .form-control {
      height: 52px;
      color: $white !important;
      font-size: 16px;
      border-radius: 40px;
      box-shadow: none;
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 0.3);
      padding-left: 40px;
      padding-right: 20px;
      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(255, 255, 255, 0.5) !important;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(255, 255, 255, 0.5) !important;
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(255, 255, 255, 0.5) !important;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(255, 255, 255, 0.5) !important;
      }
      &:focus,
      &:active {
        outline: none !important;
        box-shadow: none;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.04);
      }
    }
    textarea.form-control {
      height: inherit !important;
    }

    //BUTTON
    .btn {
      cursor: pointer;
      border-radius: 40px;
      box-shadow: none !important;
      font-size: 15px;
      &:hover,
      &:active,
      &:focus {
        outline: none;
      }
      &.btn-primary {
        background: $primary !important;
        border: 1px solid $primary !important;
        color: $white !important;
        &:hover {
          border: 1px solid $primary;
          background: transparent;
          color: $primary;
        }
        &.btn-outline-primary {
          border: 1px solid $primary;
          background: transparent;
          color: $primary;
          &:hover {
            border: 1px solid transparent;
            background: $primary;
            color: $white;
          }
        }
      }
    }
  }
  &[name="update"] {
    padding: 0px 500px;
  }
}

.product {
  display: block;
  width: 26%;
  height: 400px;
  border: solid gray 3px;
  margin: 5px;
  padding: auto;
  float: left;
  align-content: center;
  text-align: center;
}
.product-name {
  background-color: green;
  text-transform: uppercase;
  color: white;
  padding: 1px;
}
.product-image {
  width: 100%;
  height: 40%;
  background-repeat: no-repeat;
}
.events {
  position: absolute;
}
.product-discount,
.product-gift,
.product-hot {
  width: 40px;
  height: 40px;
  position: relative;
  float: left;
  line-height: 35px;
  font-weight: 600;
  background-color: red;
  color: white;
  margin: 1px;
}
.product-info {
  .name {
    font-size: 2em;
  }
  .nxs {
    font-size: 0.7em;
  }
  .npp {
    position: absolute;
    bottom: 0px;
  }
  .price {
    font-size: 3em;
    color: gray;
    width: 100%;
    padding-left: 30px;
    .price-origin,
    .price-discount {
      &:after {
        content: "$";
        font-size: 0.3em;
      }
    }
  }
}
.carousel-inner {
  align-content: center;
  text-align: center;
  height: 100%;
}
.product_item {
  .product_img {
    width: 100%;
    height: 300px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.product_single {
  .single_title_img {
    width: 300px;
    height: 100%;
  }
  .single_img {
    width: 300px;
    height: 300px;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
.fixed-navbar {
  position: fixed !important;
  animation: gotoTop 1s;
  top: 0;
  width: 100%;
  z-index: 999;
}
.simple-form-avatar {
  padding: 75px 20px;
  margin-left: 20px;
}
.simple-form-sexes {
  margin-left: 10px;
}

@keyframes gotoTop {
  0% {
    top: -120px;
  }

  100% {
    top: 0;
  }
}

#cart {
  font-size: 24px;
  text-decoration: none;
}
#shop_cart {
  z-index: 999;
}
#go-top {
  position: fixed;
  bottom: 150px;
  right: 20px;
  width: 50px;
  height: 50px;
  line-height: 40px;
  font-size: 1.5em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  &:hover {
    width: 52px;
    height: 52px;
  }
}
