body {
    background-color: #ffff;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

a{
    color: $white-color;
    &:hover{
        color: red;
        text-decoration: none;
    }
}

#notice{
    min-height: $notice-height;
    max-height: $notice-height;
    #open-navbar {
        min-height: $notice-height;
        max-height: $notice-height;
        &:focus {
            box-shadow: none !important;
        }
    
    }
}

.screen-darken{
    height: 100%; width:0%;
    z-index: 30;
    position: fixed; top: 0; right: 0; 
    opacity:0; visibility:hidden;
    background-color: rgba(34, 34, 34, 0.6);
    transition:opacity .2s linear, visibility 0.2s, width 2s ease-in;
    &.active{
        z-index:10; 
        transition:opacity .3s ease, width 0s;
        opacity:1;
        width:100%;
        visibility:visible;
    }
}

.carousel {
    @include DefaultWidthHeight();
    .carousel-inner {
        @include DefaultWidthHeight();
    }
    .carousel-item{
        @include DefaultWidthHeight();
    }
    .image-slider{
        @include DefaultWidthHeight();
        background-color: gray;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &[tags='1'] {
            background-image: url('~images/banners/banner-01.jpg');
        }
        &[tags='2'] {
            background-image: url('~images/banners/banner-02.jpg');
        }
        &[tags='3'] {
            background-image: url('~images/banners/banner-03.jpg');
        }
        &[tags='4'] {
            background-image: url('~images/banners/banner-04.png');
        }
        &[tags='5'] {
            background-image: url('~images/banners/banner-05.jpg');
        }
    }
}

section {
    &[name='slide'] {
        height: 800px;
        width: 100%;
        padding: 0;
    }
    position: relative;
    background-color: #fff;
    height: 800px;
    padding: 30px;
    &[name='member']{

    }
}

.title {
    font-size: 50px;
    text-align: center;
}

.product{
    border: 1px solid gray;
}
.product-name{
    background-color: burlywood;
}