* {
  box-sizing: border-box;
}
body {
  padding-top: 60px;
  height: 100%;
}
a {
  color: $black-color !important;
  &:hover {
    color: $aqua-color !important;
    text-decoration: none !important;
  }
}
#notice {
  min-height: $min-height;
  max-height: $max-height;
  #bar_opener {
    min-height: $min-height;
    max-height: $max-height;
    &:focus {
      box-shadow: none !important;
    }
  }
}
.screen-darken {
  height: 100%;
  width: 0%;
  z-index: 30;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition: opacity 0.2s linear, visibility 0.2s, width 2s ease-in;
  &.active {
    z-index: 10;
    transition: opacity 0.3s ease, width 0s;
    opacity: 1;
    width: 100%;
    visibility: visible;
  }
}

.carousel {
  @include DefaultWidthHeight(100%, 300px, relative);
  .carousel-inner {
    @include DefaultWidthHeight();
    .carousel-item {
      height: 100%;
      @include DefaultWidthHeight();
      .image-slider {
        @include DefaultWidthHeight();
        background-color: gray;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &[tags="1"] {
          background-image: url("~images/Banners/banner_01.jpg");
        }
        &[tags="2"] {
          background-image: url("~images/Banners/banner_02.jpg");
        }
        &[tags="3"] {
          background-image: url("~images/Banners/banner_03.jpg");
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

section {
  position: relative;
  height: 800px;
  padding: 30px;

  &[name="inventory"] {
    margin-top: 1%;
    position: absolute;
    right: 200px;
    width: 350px;
    padding: 0;
    height: 400px;

    *:before,
    *:after {
      box-sizing: border-box;
    }

    .badge {
      background-color: #6394f8;
      border-radius: 10px;
      color: white;
      display: inline-block;
      font-size: 12px;
      line-height: 1;
      padding: 3px 7px;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
    }

    .shopping-cart {
      color: black;
      margin: 0;
      padding: 10px;
      width: 100%;
      float: right;
      background: #afafaf;
      position: relative;
      border-radius: 3px;
      display: none !important;
      &.show {
        display: block !important;
      }

      .shopping-cart-header {
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 15px;

        .shopping-cart-total {
          float: right;
        }
      }

      .shopping-cart-items {
        padding-top: 20px;
        list-style: none;

        li {
          border-bottom: 1px solid #e8e8e8;
          padding-bottom: 15px;
          margin-bottom: 18px;
        }
        .card_thumb {
          height: 70px;
          width: 70px;
          float: left;
          margin-right: 12px;
          img {
            border-radius: 5px;
            height: 100%;
            width: 100%;
          }
        }

        .item-name {
          display: block;
          padding-top: 10px;
          font-size: 16px;
        }

        .item-price {
          margin-right: 8px;
        }
      }
    }

    .shopping-cart:after {
      bottom: 100%;
      left: 47%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: black;
      border-width: 8px;
      margin-left: -8px;
    }

    .cart-icon {
      color: #515783;
      font-size: 24px;
      margin-right: 7px;
      float: left;
    }

    .button {
      color: #afafaf;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      display: block;
      border-radius: 3px;
      font-size: 16px;
      margin: 25px 0 15px 0;

      &:hover {
      }
    }

    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }
    .total {
      width: 120px;
    }
    #close_cart {
      font-size: 28px;
      position: absolute;
      top: -3px;
      right: 8px;
    }
  }
  &[name="slide"] {
    height: 700px;
    width: 100%;
    padding: 0;
  }
  &[name="member"] {
    height: 150px;
    padding: 0;
    background: linear-gradient(102.04deg, #00b46e, #9ac100);
  }
  &[name="product"] {
    height: 80%;
    width: 100%;
    padding: 2;

    .title {
      text-align: center;
      text-transform: uppercase;
      font-size: 3em;
    }
    .splide__list {
      // background-color: aqua;
      height: 60%;
      width: 90%;
      .splide__slide {
        height: 60%;
        width: 90%;
        .splide__slide-content {
          img {
            width: 100%;
            height: 100%;
          }
          .thumbnail {
            border-radius: 10px;
            width: 150px;
            height: 150px;
          }
          height: 80%;
          width: 100%;
          padding: 0;
          .splide__slide-descriptions {
            color: black;
            opacity: 0.7;
            width: 30%;
            height: 16%;
            position: absolute;
            top: 4%;
            left: 2%;
            border-radius: 6px;
          }
        }
      }
    }
    .contact {
      margin-top: 10px;
      height: 10%;
      background-color: gray;
      h2 {
        border-bottom: oldlace 2px solid;
      }
      .col {
        list-style-type: none;
        border: white 5px solid;
      }
      .footer {
        font-size: 25px;
        margin-top: 10px;
        i {
          margin: 0px 5px;
          border: solid oldlace 3px;
          border-radius: 50%;
        }
      }
    }
  }
  &[name="splide"] {
    height: calc(100vh * 0.9); //vertical height * 90%
    width: 100%;
    padding: 0;
    background-color: wheat;

    .splide__slide {
      .splide__slide-content {
        height: calc(100vh * 0.9);
        .splide__slide-descriptions {
          color: white;
          opacity: 0.7;
          width: 30%;
          height: 16%;
          position: absolute;
          top: 4%;
          left: 2%;
          border-radius: 6px;
        }
      }
    }
  }
  &[name="product_page"] {
    .product_item {
      .card-body {
        color: black;
      }
    }
  }
  &[name="profile"] {
    .form-group {
      margin: 10px 0;
    }
    #avatar {
      border-radius: 50%;
      border: white 5px solid;
    }
    .tab {
      margin: 0 5px;
    }
  }
  &[name="profile"] {
    .tab-contents {
      .details {
        list-style: none;
      }
    }
    .img-btn {
      border-radius: 5px;
    }
  }
}

.product {
  display: block;
  width: 26%;
  height: 400px;
  border: solid gray 3px;
  margin: 5px;
  padding: auto;
  float: left;
  align-content: center;
  text-align: center;
}
.product-name {
  background-color: green;
  text-transform: uppercase;
  color: white;
  padding: 1px;
}
.product-image {
  width: 100%;
  height: 40%;
  background-repeat: no-repeat;
}
.events {
  position: absolute;
}
.product-discount,
.product-gift,
.product-hot {
  width: 40px;
  height: 40px;
  position: relative;
  float: left;
  line-height: 35px;
  font-weight: 600;
  background-color: red;
  color: white;
  margin: 1px;
}
.product-info {
  .name {
    font-size: 2em;
  }
  .nxs {
    font-size: 0.7em;
  }
  .npp {
    position: absolute;
    bottom: 0px;
  }
  .price {
    font-size: 3em;
    color: gray;
    width: 100%;
    padding-left: 30px;
    .price-origin,
    .price-discount {
      &:after {
        content: "$";
        font-size: 0.3em;
      }
    }
  }
}
.carousel-inner {
  align-content: center;
  text-align: center;
  height: 100%;
}
.product_item {
  .product_img {
    width: 100%;
    height: 300px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.product_single {
  .single_title_img {
    width: 300px;
    height: 100%;
  }
  .single_img {
    width: 300px;
    height: 300px;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
.fixed_navbar {
  #go-top {
    position: fixed;
    bottom: 150px;
    right: 20px;
    width: 50px;
    height: 50px;
    line-height: 40px;
    font-size: 1.5em;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    &:hover {
      width: 52px;
      height: 52px;
    }
  }
}

@keyframes gotoTop {
  0% {
    top: -120px;
  }

  100% {
    top: 0;
  }
}

#cart {
  font-size: 24px;
  text-decoration: none;
}
#shop_cart {
  z-index: 999;
}
