*{
    box-sizing:border-box;
}
body {
    background-color:$wheat-color;
}
a {
    color: $white-color !important;
    &:hover{
        color:$aqua-color !important;
        text-decoration:none !important;
    }
}
#notice{
    min-height:$min-height;
    max-height:$max-height;
    #bar_opener{
        min-height:$min-height;
        max-height:$max-height;
        &:focus{
            box-shadow: none !important;
        }
    }
}
.screen-darken {
    height: 100%;
    width: 0%;
    z-index: 30;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(34, 34, 34, 0.6);
    transition: opacity 0.2s linear, visibility 0.2s, width 2s ease-in;
    &.active {
    z-index: 10;
     transition: opacity 0.3s ease, width 0s;
     opacity: 1;
     width: 100%;
     visibility: visible;
  }
  }


  .carousel{
    @include DefaultWidthHeight(100%, 300px, relative);
    .carousel-inner{
        @include DefaultWidthHeight();
        .carousel-item{
            @include DefaultWidthHeight();
            .image-slider{
                @include DefaultWidthHeight();
                background-color: gray;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;


                &[tags='1']{
                    background-image: url('~images/Banners/banner_01.jpg');
                }
                &[tags='2']{
                    background-image: url('~images/Banners/banner_02.jpg');
                }
                &[tags='3']{
                    background-image: url('~images/Banners/banner_03.jpg');
                }
                img{
                    width: 100%;
                    height: 100%;
                }

            }
        }
    }
}


section{
    &[name='slide']{
        height: 700px;
        width: 100%;
        padding: 0;
    }
    position: relative;
    background-color: #fff;
    height: 800px;
    padding: 30px;
    &[name='member']{
        height: 300px;
        padding: 0;
    }
    &[name='product']{
        height: 400px;
        .title{
            text-align: center;
            text-transform: uppercase;
            font-size: 3em;
        }
    }
}

.product{
    display: block;
    width: 300px;
    height: 400px;
    border:solid gray 3px;
    margin: 5px 0px;
    padding: 5px;
}
.product-name{
    background-color:green ;
    text-transform: uppercase;
    color: white;
    padding: 2px;
}
.product-image{
    width: 100%;
    height: 40%;
    background-repeat: no-repeat;
}
.product-discount, .product-gift, .product-hot{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 1px;
    left: 264px;
    line-height: 35px;
    font-weight: 600;
    background-color: red;
    color: white;
}
.product-info{
    .name{
        font-size: 2em; 
    }
    .nxs{
        font-size: 0.7em;
    }
    .npp{
        position: absolute;
        bottom: 0;
        font-size: 0.7em;
        
    }
    .price{
        font-size: 3em;
        color: gray;
        width: 100%;
        padding-left: 30px;
        .price-origin, .price-discount{
            &:after{
                content: '$';
                font-size: 0.3em;

            }
        }
    }
    

    
}
  

