body {
    background-color: #ffff;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

a{
    color: $white-color;
}

#notice{
    min-height: $notice-height;
    max-height: $notice-height;
    #open-navbar {
        min-height: $notice-height;
        max-height: $notice-height;
        &:focus {
            box-shadow: none !important;
        }
    
    }
}


.screen-darken{
    height: 100%; width:0%;
    z-index: 30;
    position: fixed; top: 0; right: 0; 
    opacity:0; visibility:hidden;
    background-color: rgba(34, 34, 34, 0.6);
    transition:opacity .2s linear, visibility 0.2s, width 2s ease-in;
    &.active{
        z-index:10; 
        transition:opacity .3s ease, width 0s;
        opacity:1;
        width:100%;
        visibility:visible;
    }
}

section {
    &[name='splide']{
        width: 100%;
        padding: 0;
        height:  calc(100vh*0.9);
        #splide{
            height:  calc(100vh*0.9);
            background-color: red;
            .splide__slide-content {
                height:  calc(100vh*0.9);
                position: relative;
                .splide__slide-description {
                    position: absolute;
                    width: 50%;
                    background-color: #ffff;
                    opacity: 0.5;
                    padding: 10px;
                }
            }
            
        }    
    }
}



