*{
    box-sizing:border-box;
}
body {
    background-color:$wheat-color;
}
a {
    color: $white-color !important;
    &:hover{
        color:$aqua-color !important;
        text-decoration:none !important;
    }
}
#notice{
    min-height:$min-height;
    max-height:$max-height;
    #bar_opener{
        min-height:$min-height;
        max-height:$max-height;
        &:focus{
            box-shadow: none !important;
        }
    }
}
.screen-darken {
    height: 100%;
    width: 0%;
    z-index: 30;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(34, 34, 34, 0.6);
    transition: opacity 0.2s linear, visibility 0.2s, width 2s ease-in;
    &.active {
    z-index: 10;
     transition: opacity 0.3s ease, width 0s;
     opacity: 1;
     width: 100%;
     visibility: visible;
  }
  }

  

