* {
  box-sizing: border-box;
}
body {
  background-color: $wheat-color;
  height: 100%;
}
a {
  color: $white-color !important;
  &:hover {
    color: $aqua-color !important;
    text-decoration: none !important;
  }
}
#notice {
  min-height: $min-height;
  max-height: $max-height;
  #bar_opener {
    min-height: $min-height;
    max-height: $max-height;
    &:focus {
      box-shadow: none !important;
    }
  }
}
.screen-darken {
  height: 100%;
  width: 0%;
  z-index: 30;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition: opacity 0.2s linear, visibility 0.2s, width 2s ease-in;
  &.active {
    z-index: 10;
    transition: opacity 0.3s ease, width 0s;
    opacity: 1;
    width: 100%;
    visibility: visible;
  }
}

.carousel {
  @include DefaultWidthHeight(100%, 300px, relative);
  .carousel-inner {
    @include DefaultWidthHeight();
    .carousel-item {
      height: 100%;
      @include DefaultWidthHeight();
      .image-slider {
        @include DefaultWidthHeight();
        background-color: gray;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &[tags="1"] {
          background-image: url("~images/Banners/banner_01.jpg");
        }
        &[tags="2"] {
          background-image: url("~images/Banners/banner_02.jpg");
        }
        &[tags="3"] {
          background-image: url("~images/Banners/banner_03.jpg");
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

section {
  &[name="slide"] {
    height: 700px;
    width: 100%;
    padding: 0;
  }
  position: relative;
  background-color: #fff;
  height: 800px;
  padding: 30px;
  &[name="member"] {
    height: 150px;
    padding: 0;
    background: linear-gradient(102.04deg, #00b46e, #9ac100);
  }
  &[name="product"] {
    height: 80%;
    width: 100%;
    padding: 2;

    .title {
      text-align: center;
      text-transform: uppercase;
      font-size: 3em;
    }
    .splide__list {
      // background-color: aqua;
      height: 60%;
      width: 90%;
      .splide__slide {
        height: 60%;
        width: 90%;
        .splide__slide-content {
          img {
            width: 100%;
            height: 100%;
          }
          .thumbnail {
            border-radius: 10px;
            width: 150px;
            height: 150px;
          }
          height: 80%;
          width: 100%;
          padding: 0;
          .splide__slide-descriptions {
            color: black;
            opacity: 0.7;
            width: 30%;
            height: 16%;
            position: absolute;
            top: 4%;
            left: 2%;
            border-radius: 6px;
          }
        }
      }
    }
  }

  &[name="splide"] {
    height: calc(100vh * 0.9); //vertical height * 90%
    width: 100%;
    padding: 0;
    background-color: wheat;

    .splide__slide {
      .splide__slide-content {
        height: calc(100vh * 0.9);
        .splide__slide-descriptions {
          color: white;
          opacity: 0.7;
          width: 30%;
          height: 16%;
          position: absolute;
          top: 4%;
          left: 2%;
          border-radius: 6px;
        }
      }
    }
  }
  &[name="contact"] {
    height: 600px;
    background-color: gray;
  }
}

.product {
  display: block;
  width: 26%;
  height: 400px;
  border: solid gray 3px;
  margin: 5px;
  padding: auto;
  float: left;
  align-content: center;
  text-align: center;
}
.product-name {
  background-color: green;
  text-transform: uppercase;
  color: white;
  padding: 1px;
}
.product-image {
  width: 100%;
  height: 40%;
  background-repeat: no-repeat;
}
.events {
  position: absolute;
}
.product-discount,
.product-gift,
.product-hot {
  width: 40px;
  height: 40px;
  position: relative;
  float: left;
  line-height: 35px;
  font-weight: 600;
  background-color: red;
  color: white;
  margin: 1px;
}
.product-info {
  .name {
    font-size: 2em;
  }
  .nxs {
    font-size: 0.7em;
  }
  .npp {
    position: absolute;
    bottom: 0px;
  }
  .price {
    font-size: 3em;
    color: gray;
    width: 100%;
    padding-left: 30px;
    .price-origin,
    .price-discount {
      &:after {
        content: "$";
        font-size: 0.3em;
      }
    }
  }
}
.carousel-inner {
  align-content: center;
  text-align: center;
  height: 100%;
}
.product_item {
  .product_img {
    width: 100%;
    height: 300px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.product_single {
  .single_title_img {
    width: 300px;
    height: 100%;
  }
  .single_img {
    width: 300px;
    height: 300px;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
