<div class="contact">
  <div class="row">
    <div class="col">
      <%=render 'landing/particals/contacts/main_info'%>
    </div>
    <div class="col">
    <%=render 'landing/particals/contacts/product_info'%>
    </div>
    <div class="col">
    <%=render 'landing/particals/contacts/further_info'%>
    </div>
    <%=render 'landing/particals/footer'%>
  </div>
</div>