.contact
  .row
    .col
      =render 'landing/particals/contacts/main_info'
    .col
      =render 'landing/particals/contacts/product_info'
    .col
      =render 'landing/particals/contacts/further_info'
    =render 'landing/particals/footer'
