<header>
<nav id="navbar-example2" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
     
    </li>
    <li class="nav-item">
      
    </li>
    
  </ul>
</nav>
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
</div>
</header>
<section name="slide">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
    <div class="image-slider" tags='1'></div>
      <div class="carousel-caption d-none d-md-block">
        <h5>#</h5>
        <p>#</p>
      </div>
    </div>

    <div class="carousel-item active">
      <div class="image-slider" tags='2'></div>
      <div class="carousel-caption d-none d-md-block">
        <h5>#</h5>
        <p>#</p>
      </div>
    </div>

    <div class="carousel-item active">
      <div class="image-slider" tags='3'></div>
      <div class="carousel-caption d-none d-md-block">
        <h5>#</h5>
        <p>#</p>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</section>