header
  nav#navbar-example2.navbar.navbar-light.bg-light
    a.navbar-brand[href="#"]
      | Navbar
    ul.nav.nav-pills
      li.nav-item

      li.nav-item

  div[data-spy="scroll" data-target="#navbar-example2" data-offset="0"]

section[name="slide"]
  #carouselExampleCaptions.carousel.slide[data-bs-ride="carousel"]

  .carousel-indicators

  button.active[type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"]
  button[type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"]
  button[type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"]
  .carousel-inner

  .carousel-item.active

  .image-slider[tags="1"]
  .carousel-caption.d-none.d-md-block
    h5
      | #
  p
    | #
  .carousel-item

  .image-slider[tags="2"]
  .carousel-caption.d-none.d-md-block
    h5
      | #
  p
    | #
  .carousel-item

  .image-slider[tags="3"]
  .carousel-caption.d-none.d-md-block
    h5
      | #
  p
    | #
  button.carousel-control-prev[type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev"]
    span.carousel-control-prev-icon[aria-hidden="true"]
    span.visually-hidden
      | Previous
  button.carousel-control-next[type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next"]
    span.carousel-control-next-icon[aria-hidden="true"]
    span.visually-hidden
      | Next
