<div class="footer">
    <i class="fab fa-facebook"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-dropbox"></i>

    <div class="search-container" style="float:right; margin-right:2px">
      <form action="#">
        <input type="text" style="border-radius:6px" placeholder="Search.." name="search">
        <button type="submit" style="border-radius:6px"><i class="fa fa-search"></i></button>
      </form>
    </div>
</div>