.footer
  i.fab.fa-facebook
  i.fab.fa-instagram
  i.fab.fa-dropbox
  .search-container[style="float:right; margin-right:2px"]
    form[action="#"]
      input[type="text" style="border-radius:6px" placeholder="Search.." name="search"]
      button[type="submit" style="border-radius:6px"]
        i.fa.fa-search
