<div class="container">
  <div class="row" style="margin-top:10px">
    <div class="col" style="">col_1</div>
    
    <div class="col-10">
    <%=render 'landing/particals/splide'%>
  <% if !user_signed_in? %>
    <%=render 'landing/particals/member'%>
  <% end %>
    <%=render 'landing/particals/product'%>
    </div>
    <div class="col" style="">col_3</div>
  </div>
</div>
