<div class="container">
  <div class="row" style="margin-top:10px">
    <div class="col" style="">col_1</div>
    
    <div class="col-10">
    <%=render 'landing/particals/splide'%>
    <%=render 'landing/particals/member'%>
    <%=render 'landing/particals/product'%>
    </div>

    <div class="col" style="">col_3</div>
  </div>
</div>
