<section name='member'>
    <div class="w-100 h-100 mt-5 p-3">
    <div class="container">

    <div class="row">

        <div class="col-sm-6" style="text-align:right">
            <div class="btn btn-primary">
                <%= link_to I18n.t('title.login'), new_user_session_path , class:'nav-link'%> 
            </div>

        </div>
  
        <div class="col-sm-6" style="text-align:left">
          <div class="btn btn-primary">
            <%= link_to I18n.t('title.sign_up'), new_user_registration_path , class:'nav-link'%> 
          </div>
        </div >

    </div>

</div>
    </div>
</section>