<section name="splide" data-controller='splide'>
<div class="splide" id='splide' data-splide-target='splide'>
	<div class="splide__track">
		<ul class="splide__list">
			<% @slides.each do |slide| %>
				<li class="splide__slide">
					<div class="splide__slide-content">
						<img data-splide-lazy=<%=load_image(slide.image)%> alt='sample'>
						<div class="splide__slide-description w-50 text-white p-2 rounded bg-secondary">
							<%= slide.description.html_safe%>
						</div>
					</div>
				</li>
			<%end%>
		</ul>
	</div>
</div>
</section>