<section id="products" class='container-fluid '>
    <div class='row' id='product-container'>
        <%@products.each do |product|%>
        <div class="col-12 col-md-4 mb-4">
            <%= render partial: 'shared/product/item', locals: {product: product}%>
        </div>
        <% end %>
    </div>
</section>