<!DOCTYPE html>
<html>
<%= render 'layouts/shared/header_content' %>

<body>
    <span class='screen-darken'></span>
    <%= render 'layouts/shared/header' %>
    <%= yield %>
    <%= render 'layouts/shared/footer' %>
</body>

</html>