<!DOCTYPE html>
<html>
<html>
<%=render 'layouts/share/header_content'%>

<body>
<%= render 'layouts/share/screen' %>
  <% if user_signed_in? %>
    <%= render 'layouts/share/header' %>
  <% end %>
    <%= yield %>  
</body>
    
</html>