<!DOCTYPE html>
<html>
<html>
<%=render 'layouts/share/header_content'%>

<body>
    <span class='screen-darken'></span>
  <% if user_signed_in? %>
    <%= render 'layouts/share/header' %>
  <% end %>
    <%= yield %>
</body>
    
</html>