<!DOCTYPE html>
<html>
    <%= render 'layouts/share/header_content'%>
    
    <body>
    <%= render 'layouts/share/screen' %>
        <%= yield%>
    </body>
    
    <%if content_for?(:js_page)%>
        <%= yield(:js_page)%>
    <%end%>
</html>