<div class="regis-body">

    <div class="regis-form" style="position: absolute;
          top: 15%;
          left: 43%;
          text-align: center;">

        <div class="row">

            <div class="col-12">

                <%= render 'users/registrations/new' %>
             </div>

        </div>


    </div>

</div>