<div class="regis-body">

    <div class="regis-form">

        <div class="row">

            <div class="col-12">

                <%= render 'users/registrations/new' %>
             </div>

        </div>

        <div class="row row_2">

            <div class="col-12">

                <%= render "users/shared/links" %>
            </div>

        </div>

    </div>

</div>